@import '../../../app/colors.scss';

.header {
    max-width: 2000px;
    width: 1455px;
    height: 763px;
 
    background-image: url('/unsplash_Gi6-m_t_W-E.png');
   
    background-repeat: no-repeat;
    background-size: cover;
    
 
}
.overlay{
    width: 1455px;
    height: 763px;
    background: rgb(0,0,0, 50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

 

 