$Primery: #212121;
$Secondary: #E4274F;
$Complementary: #27E4BC;
$white : #FFFFFF;
$Red : #DB2828;
$Yellow : #FBBD08;
$Green : #21BA45;



// Tints_Collor_Prymery
$DarckGrey: #373737;
$Darck_Grey: #4D4D4D;
$Darck__Grey: #636363;
$Darck___Grey: #7A7A7A;

$LightGreys : #757575;
$Light_Greys : #CBCBCB;
$Light__Greys : #EDEDED;
$Light___Greys : #F9F9F9;




// Tints_Collor_Prymery  shades
$DarckBlack: #1E1E1E;
$Darck_Black: #1A1A1A;
$Darck__Black : #171717;
$Darck___Black: #141414;


//Secondary _ Tints 

$Secondary_Primary: #E73C60;
$Secondary__Primary: #E95272;
$Secondary___Primary: #EC6783;
$Secondary____rimary: #EF7D95;

//Secondary _ Tints  Shades

$SecondaryDark: #CE2347;
$Secondary_Dark: #B61F3F;
$Secondary__Dark: #EC6783;
$Secondary___Dark: #EF7D95;


//Gradiant


$BlueViolet :  linear-gradient(140deg, hsl(216deg 100% 50%) 0%,hsl(296deg 60% 55%) 53%, hsl(333deg 100% 62%) 100%);
$BlackRed : linear-gradient(165deg,hsl(0deg 0% 5%) 0%,hsl(353deg 53% 29%) 52%, hsl(347deg 78% 52%) 100%);
$GreenRed : linear-gradient(140deg,hsl(167deg 78% 52%) 0%, hsl(53deg 73% 40%) 62%, hsl(347deg 78% 52%) 100%);
$darkRed : linear-gradient(240deg,hsl(347deg 60% 35%) 0%,hsl(347deg 61% 37%) 36%,hsl(351deg 47% 30%) 69%,hsl(0deg 0% 13%) 100%);
$Green : linear-gradient(240deg,hsl(167deg 78% 52%) 0%,hsl(167deg 78% 52%) 36%,hsl(164deg 100% 44%) 69%, hsl(143deg 77% 46%) 100%);
$darGreen : linear-gradient(145deg,hsl(0deg 0% 22%) 0%,hsl(164deg 34% 40%) 53%, hsl(167deg 78% 52%) 100%);

 
